body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  
header {
    display: flex;
    gap: 30em;
    align-items: baseline;
    margin-bottom: 1em;
}
  
label {
    margin-left: auto;
}

#time-slider {
    width: 400px; /* Adjust this value to make the slider longer or shorter */
}

#selected-time {
    display: block;
    justify-self: flex-end;
}
  
#any-time {
    display: block;
    justify-self: flex-end;
    color: lightgray;
    font-style: italic;
}
  